{% extends 'base.html.twig' %}

{% block title %}Les Habitats{% endblock %}

{% block main %}
    <div class="container my-4">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Les Habitats de ARCADIA</h1>
    </div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row g-3">
            {% for habitat in habitats %}
            <div class="col col-sm-12">
                <div class="card shadow-sm">
                    <div><img class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"  src="{{ vich_uploader_asset(habitat, 'imageFile') }}" alt=""></div>
                    <div class="card-body">
                        <h3>{{ habitat.nom }}</h3>
                        <p class="card-text text-truncate">{{ habitat.description | nl2br}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ path('habitats.show', {id: habitat.id}) }}">View details</a>
                            </div>
                            <small class="text-body-secondary">Mise à jour le: {{ habitat.CreatedAt |format_datetime('short', 'none') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    </div>
{% endblock %}