<div class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ absolute_url('images/homecaroussel/Bebe-bongo.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ absolute_url('images/homecaroussel/giraffe.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ absolute_url('images/homecaroussel/elephant.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ absolute_url('images/homecaroussel/Panda-roux.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ absolute_url('images/homecaroussel/rhinocéros.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ absolute_url('images/homecaroussel/zebre.jpg') }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>