{% extends 'base.html.twig' %}

{% block title %}Les Animaux{% endblock %}

{% block body %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Les Animaux de ARCADIA</h1>
    </div>

    <div class="container marketing">
        <div class="row">
    {% for animal in animals %}
        <div class="col-lg-3 p-2">
            <div><img class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"  src="{{ vich_uploader_asset(animal, 'imageFile') }}" alt=""></div>
                <h2 class="fw-normal"><i class="fa-solid fa-paw p-2"></i>{{ animal.prenom }}</h2>
                <h6><i class="fa-solid fa-dna p-1"></i>Breed -> {{animal.race.label}}</h6>
                <h6><i class="fa-solid fa-earth-europe p-1"></i>Habitat : {{ animal.habitat.nom }}</h6>
                <p>{{ animal.description | nl2br}}</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    {% endfor %}
        </div>
    </div>
{% endblock %}