{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Les Rapports{% endblock %}

{% block main %}
    <h1>Les Rapports</h1>
    <p>
        <a class="btn btn-dark" href="{{ path('admin.rapport.create') }}">Crée un rapport</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>{{knp_pagination_sortable(rapports, 'Nom', 'a.prenom')}}</th>
            <th>Detail</th>
            <th class="d-none d-md-table-cell">Foodoffered:</th>
            <th class="d-none d-md-table-cell">Foodquantity:</th>
            <th class="d-none d-md-table-cell">Commentaire:</th>
            <th class="d-none d-md-table-cell">Créateur:</th>
            <th>{{knp_pagination_sortable(rapports,'Edité le:','r.date')}}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rapport in rapports %}
            <tr>
                <td>{{ rapport.animal.prenom}}</td>
                <td>{{rapport.detail}}</td>
                <td class="d-none d-md-table-cell">{{rapport.foodoffered}}</td>
                <td class="d-none d-md-table-cell">{{rapport.foodquantity}}</td>
                <td class="d-none d-md-table-cell">{{rapport.conditiondetails}}</td>
                <td class="d-none d-md-table-cell">{{rapport.user.firstname ~ rapport.user.lastname}}</td>
                <td>{{ rapport.date |format_datetime('short', 'none', locale='fr') }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.rapport.edit', {id: rapport.id})}}"><i class="bi bi-pen p-1"></i></a>
                        <form action="{{ path('admin.rapport.delete', {id: rapport.id})}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash p-1"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}