{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Les Rapports{% endblock %}

{% block body %}
    <h1>Les Rapports</h1>
    <p>
        <a class="btn btn-dark" href="{{ path('admin.rapport.create') }}">Crée un rapport</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th> Nom</th>
            <th> Detail</th>
            <th> Editer le:</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rapport in rapports %}
            <tr>
                <td>{{ rapport.id}}</td>
                <td>{{rapport.detail}}</td>
                <td>{{ rapport.date |format_datetime('short', 'none') }}</td>
                <td></td>

                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.rapport.edit', {id: rapport.id})}}">Editer</a>
                        <form action="{{ path('admin.rapport.delete', {id: rapport.id})}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}