{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Les Services{% endblock %}

{% block main %}
    <h1>Les Services</h1>
    <p>
        <a class="btn btn-dark" href="{{ path('admin.service.create') }}">Crée un service</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th> Nom</th>
            <th> Description</th>
            <th>Actions</th>
            <th>Mise à jour le:</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{service.nom}}</td>
                <td>{{service.description}}</td>
                <td>{{ service.CreatedAt |format_datetime('short', 'none') }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.service.edit', {id: service.id})}}"><i class="bi bi-pen p-1"></i>Editer</a>
                        <form action="{{ path('admin.service.delete', {id: service.id})}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash p-1"></i>Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}