{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Les Animaux{% endblock %}

{% block main %}
<h1>Les Animaux</h1>
    <p>
        <a class="btn btn-dark" href="{{ path('admin.animal.create') }}">Ajouter un animal</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th> {{knp_pagination_sortable(animals, 'Prenom', 'r.prenom')}}</th>
            <th> Breed </th>
            <th> Habitat </th>
            <th> {{knp_pagination_sortable(animals, 'Etat', 'r.etat')}}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{animal.prenom}}</td>
                <td>{{ animal.race.label }}</td>
                <td>{{ animal.habitat.nom }}</td>
                <td>{{ animal.etat }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.animal.edit', {id: animal.id})}}"><i class="bi bi-pen p-1"></i>Editer</a>
                        <form action="{{ path('admin.animal.delete', {id: animal.id})}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash p-1"></i>Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(animals) }}
{% endblock %}
